MAINFlow.json
[{"id":"807d0f2f.0add4","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":1410,"y":600,"wires":[]},{"id":"e8c55652.0d9168","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1400,"y":660,"wires":[]},{"id":"895707c4.557ea8","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch2","tooltip":"","group":"d9229161.b8548","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":660,"wires":[["e8c55652.0d9168","c41189aa.d1c6e8"]]},{"id":"56dbde6f.3ca24","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":1400,"y":720,"wires":[]},{"id":"348487d6.dbdec8","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch3","tooltip":"","group":"d9229161.b8548","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":720,"wires":[["56dbde6f.3ca24","fd8180be.f8d57"]]},{"id":"4f4c105a.d7a57","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":1400,"y":780,"wires":[]},{"id":"81e7bff4.dc435","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch4","tooltip":"","group":"d9229161.b8548","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":780,"wires":[["4f4c105a.d7a57","d91a73.9146059"]]},{"id":"8758a494.5f7fe8","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":1400,"y":840,"wires":[]},{"id":"9cdc7335.29f9e","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":1400,"y":900,"wires":[]},{"id":"f42003df.55933","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":1400,"y":960,"wires":[]},{"id":"4df79c4a.c9ba24","type":"rpi-gpio out","z":"330b49ee.fd5076","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":1400,"y":1020,"wires":[]},{"id":"cc1d6aeb.c93598","type":"serial in","z":"330b49ee.fd5076","name":"Com Verbindung Nextion","serial":"a612e83f.c22ad8","x":110,"y":680,"wires":[["aadbaa68.08a3b8","4dfd4dc9.fc5494","ff2b1038.84606","b96e559a.8f5748"]]},{"id":"551f33aa.95ec5c","type":"switch","z":"330b49ee.fd5076","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":490,"y":720,"wires":[["72c9f72c.a9fca8"],["cd864fda.52c62"],["124eb35a.f059bd"],["479caf31.60dbf"],["56ba42cd.7660fc"],["a64af723.f462e8"],["216fe7a4.1ce448"],["4fe81592.4aa4fc"]]},{"id":"aadbaa68.08a3b8","type":"function","z":"330b49ee.fd5076","name":"","func":"if(msg.payload[1]==1) //check nextion seite\n{\nmsg.payload = Number(msg.payload[2]); //check ID\n}\nelse \nmsg.payload = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["551f33aa.95ec5c"]]},{"id":"525f8e9c.e6253","type":"function","z":"330b49ee.fd5076","name":"init","func":"\n\nflow.set(\"one\", true);\n\nflow.set(\"two\", true);\n\nflow.set(\"three\", true);\n\nflow.set(\"four\", true);\n\nflow.set(\"five\", true);\n\nflow.set(\"six\", true);\n\nflow.set(\"seven\", true);\n\nflow.set(\"eight\", true);\n\n\nflow.set(\"temp1\",\"no temp\");\nflow.set(\"temp2\",\"no temp\");\n\n\nglobal.set(\"webasto\",false)\nglobal.set(\"webastostatus\",\"wait\")\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":520,"wires":[[]]},{"id":"72c9f72c.a9fca8","type":"function","z":"330b49ee.fd5076","name":"ändern nach status","func":"var check = flow.get(\"one\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["915bef89.82564"]]},{"id":"cd864fda.52c62","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"two\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["895707c4.557ea8"]]},{"id":"124eb35a.f059bd","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"three\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["348487d6.dbdec8"]]},{"id":"479caf31.60dbf","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"four\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":770,"y":740,"wires":[["81e7bff4.dc435"]]},{"id":"915bef89.82564","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch1","tooltip":"","group":"d9229161.b8548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":600,"wires":[["807d0f2f.0add4","235e298c.d8de26"]]},{"id":"36109e3d.d34e82","type":"ui_gauge","z":"330b49ee.fd5076","name":"WarmWasser Temp","group":"577bbbad.624d64","order":1,"width":0,"height":0,"gtype":"gage","title":"WarmWasser Temp","label":"°C","format":"{{value}}","min":"-5","max":"70","colors":["#0300b3","#e600de","#fe0606"],"seg1":"","seg2":"","x":1330,"y":240,"wires":[]},{"id":"f5562982.1bcaf8","type":"function","z":"330b49ee.fd5076","name":"","func":"\n\n  // flow.set(\"temp1\", msg.payload.temperature);\n  \n   msg.payload = msg.payload.temperature;\n   \n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["36109e3d.d34e82","991d79f7.6f7638"]]},{"id":"ec4c645e.291888","type":"function","z":"330b49ee.fd5076","name":"","func":"  // flow.set(\"temp2\", msg.payload.temperature);\n\nmsg.payload = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["d86a7583.07ff58"]]},{"id":"d86a7583.07ff58","type":"ui_gauge","z":"330b49ee.fd5076","name":"KaltWasser Temp","group":"577bbbad.624d64","order":2,"width":0,"height":0,"gtype":"gage","title":"KaltWasser Temp","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0300b3","#e600de","#fe0606"],"seg1":"","seg2":"","x":1330,"y":280,"wires":[]},{"id":"e642bda4.e329f","type":"ui_gauge","z":"330b49ee.fd5076","name":"Warmwasser Tank","group":"577bbbad.624d64","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":"60","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":380,"wires":[]},{"id":"4132c0fe.f2fd2","type":"ui_gauge","z":"330b49ee.fd5076","name":"Kaltwasser Tank ","group":"577bbbad.624d64","order":7,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":440,"wires":[]},{"id":"5173ebec.b61644","type":"ui_text","z":"330b49ee.fd5076","group":"577bbbad.624d64","order":4,"width":"0","height":"0","name":"Warmwasser Tank label","label":"Warmwasser Tank","format":"{{msg.payload}}","layout":"row-spread","x":1330,"y":340,"wires":[]},{"id":"9784050f.f2c848","type":"ui_text","z":"330b49ee.fd5076","group":"577bbbad.624d64","order":6,"width":0,"height":0,"name":"Kaltwasser Tank Label","label":"Kaltwasser Tank","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":160,"wires":[]},{"id":"6673c141.a2263","type":"serial out","z":"330b49ee.fd5076","name":"","serial":"a612e83f.c22ad8","x":2580,"y":640,"wires":[]},{"id":"bcb54c2b.f0879","type":"function","z":"330b49ee.fd5076","name":"","func":"msg.payload = msg.payload.channel_1;\n\nif (msg.payload >= 24700)\nmsg.payload =24700;\n\nif (msg.payload <= 5300)\nmsg.payload = 0 ;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["98550029.a595b"]]},{"id":"98550029.a595b","type":"range","z":"330b49ee.fd5076","minin":"24700","maxin":"0","minout":"100","maxout":"0","action":"scale","round":false,"property":"payload","name":"","x":710,"y":240,"wires":[["e642bda4.e329f"]]},{"id":"a1d02652.203108","type":"sensor-ds18b20","z":"330b49ee.fd5076","name":"","topic":"","sensorid":"00-3e0000000000","timer":"10","repeat":true,"x":390,"y":340,"wires":[["f5562982.1bcaf8"]]},{"id":"ef080f94.352a7","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch5","tooltip":"","group":"d9229161.b8548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":840,"wires":[["8758a494.5f7fe8","1ac6fbd0.217854"]]},{"id":"5782b233.5df68c","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch6","tooltip":"","group":"d9229161.b8548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":900,"wires":[["9cdc7335.29f9e","7ee3ceca.79612"]]},{"id":"51e12fd3.85bb1","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch7","tooltip":"","group":"d9229161.b8548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":960,"wires":[["f42003df.55933","9ba241ff.72eba"]]},{"id":"613df8cf.5b8e18","type":"ui_switch","z":"330b49ee.fd5076","name":"","label":"switch8","tooltip":"","group":"d9229161.b8548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1100,"y":1020,"wires":[["4df79c4a.c9ba24","7a217d3f.46df94"]]},{"id":"56ba42cd.7660fc","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"five\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":780,"y":780,"wires":[["ef080f94.352a7"]]},{"id":"a64af723.f462e8","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"six\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["5782b233.5df68c"]]},{"id":"216fe7a4.1ce448","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"seven\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":860,"wires":[["51e12fd3.85bb1"]]},{"id":"4fe81592.4aa4fc","type":"function","z":"330b49ee.fd5076","name":"ändern","func":"var check = flow.get(\"eight\");\n\n\nif (check === true)\n   { \n   check= false; \n\n   }\n    else\n    {\n    check = true; \n    }\n    \n    \n  msg.payload = check;  \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":900,"wires":[["613df8cf.5b8e18"]]},{"id":"9a6533ea.2b87e","type":"sensor-ds18b20","z":"330b49ee.fd5076","name":"","topic":"","sensorid":"00-3e0000000000","timer":"10","repeat":true,"x":370,"y":400,"wires":[["ec4c645e.291888"]]},{"id":"235e298c.d8de26","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"one\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"one\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"one\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":640,"wires":[["dc173e17.8d28a"]]},{"id":"e34c1ef2.6108b","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"one\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1160,"wires":[["f0ebbcda.268c1"]]},{"id":"4dfd4dc9.fc5494","type":"function","z":"330b49ee.fd5076","name":"","func":"//informationen auf nextion laden nach wackup\n\n//schaltertab\nif(msg.payload[1]==5 && msg.payload[0]==101 && msg.payload[2]==4) \nmsg.payload = 1; \nif(msg.payload[1]==2 && msg.payload[0]==101 && msg.payload[2]==4) \nmsg.payload = 1; \nif(msg.payload[1]==3 && msg.payload[0]==101 && msg.payload[2]==6) \nmsg.payload = 1; \n\n//heizungstab\nif(msg.payload[1]==2 && msg.payload[0]==101 && msg.payload[2]==3)\nmsg.payload = 1; \nif(msg.payload[1]==1 && msg.payload[0]==101 && msg.payload[2]==2)\nmsg.payload = 1; \nif(msg.payload[1]==3 && msg.payload[0]==101 && msg.payload[2]==5)\nmsg.payload = 1; \n\n\n//wassertab\nif(msg.payload[1]==1 && msg.payload[0]==101 && msg.payload[2]==20)  \nmsg.payload = 1; \nif(msg.payload[1]==5 && msg.payload[0]==101 && msg.payload[2]==2)  \nmsg.payload = 1; \nif(msg.payload[1]==3 && msg.payload[0]==101 && msg.payload[2]==4)  \nmsg.payload = 1; \n\n\n\n//batterietab\nif(msg.payload[1]==2 && msg.payload[0]==101 && msg.payload[2]==1)  \nmsg.payload = 1; \nif(msg.payload[1]==5 && msg.payload[0]==101 && msg.payload[2]==1)  \nmsg.payload = 1; \nif(msg.payload[1]==1 && msg.payload[0]==101 && msg.payload[2]==1)  \nmsg.payload = 1; \n\n\n\nif (msg.payload[0] == 104)\nmsg.payload = 1; \n\n\n\n//check for wakeup\n\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1080,"wires":[["83caf0f4.172a7"]]},{"id":"344eb1b5.1fe64e","type":"switch","z":"330b49ee.fd5076","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1080,"wires":[["86805174.a8fa1"]]},{"id":"83caf0f4.172a7","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":1080,"wires":[["344eb1b5.1fe64e"]]},{"id":"dc173e17.8d28a","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p0.pic=9\";\nelse\nmsg.payload = \"p0.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":640,"wires":[["6673c141.a2263"]]},{"id":"d2a6c625.542258","type":"inject","z":"330b49ee.fd5076","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":520,"wires":[["525f8e9c.e6253"]]},{"id":"f0ebbcda.268c1","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1160,"wires":[["dc173e17.8d28a"]]},{"id":"136f4202.ce709e","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p1.pic=9\";\nelse\nmsg.payload = \"p1.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":700,"wires":[["6673c141.a2263"]]},{"id":"77467b0f.436d34","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p2.pic=9\";\nelse\nmsg.payload = \"p2.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":760,"wires":[["6673c141.a2263"]]},{"id":"835d73cf.65942","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p3.pic=9\";\nelse\nmsg.payload = \"p3.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":820,"wires":[["6673c141.a2263"]]},{"id":"9317c6ce.865078","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p4.pic=9\";\nelse\nmsg.payload = \"p4.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":860,"wires":[["6673c141.a2263"]]},{"id":"a4a2096a.2cc6c8","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p5.pic=9\";\nelse\nmsg.payload = \"p5.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":900,"wires":[["6673c141.a2263"]]},{"id":"2fb7c030.d471","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p6.pic=9\";\nelse\nmsg.payload = \"p6.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":960,"wires":[["6673c141.a2263"]]},{"id":"fdeba2ed.fe70c","type":"function","z":"330b49ee.fd5076","name":"bild ändern","func":"\nvar buf = [];\n\n if (msg.payload === false)\nmsg.payload = \"p7.pic=9\";\nelse\nmsg.payload = \"p7.pic=11\";\n\n\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n \nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":1020,"wires":[["6673c141.a2263"]]},{"id":"c41189aa.d1c6e8","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"two\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"two\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"two\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":700,"wires":[["136f4202.ce709e"]]},{"id":"fd8180be.f8d57","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"three\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"three\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"three\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":760,"wires":[["77467b0f.436d34"]]},{"id":"d91a73.9146059","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"four\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"four\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"four\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":820,"wires":[["835d73cf.65942"]]},{"id":"1ac6fbd0.217854","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"five\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"five\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"five\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":880,"wires":[["9317c6ce.865078"]]},{"id":"7ee3ceca.79612","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"six\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"six\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"six\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":940,"wires":[["a4a2096a.2cc6c8"]]},{"id":"9ba241ff.72eba","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"seven\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"seven\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"seven\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":1000,"wires":[["2fb7c030.d471"]]},{"id":"7a217d3f.46df94","type":"function","z":"330b49ee.fd5076","name":"flowVariable ändern ","func":"\n\n \n\nvar check = flow.get(\"eight\");\n\nif (check === true)\n   { \n   check= false; \n   flow.set(\"eight\", false);\n       \n   }\n    else\n    {\n    check = true; \n      flow.set(\"eight\", true);\n    }\n    \nmsg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1610,"y":1060,"wires":[["fdeba2ed.fe70c"]]},{"id":"d2826a35.ac7cd8","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"two\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1220,"wires":[["1d854659.9c526a"]]},{"id":"6b808150.4d0f7","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"three\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1280,"wires":[["6e461644.fb3a98"]]},{"id":"5c3ba7cb.15e4a8","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"four\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1340,"wires":[["fb2fb911.de7228"]]},{"id":"ee948db2.70cd6","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"one\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1400,"wires":[["4f1c75b5.9c045c"]]},{"id":"eaa4778.fbbe888","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"six\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1460,"wires":[["111c734b.4eaf4d"]]},{"id":"602e0300.c1459c","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"seven\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1520,"wires":[["51f7b67f.9592f8"]]},{"id":"51f7b67f.9592f8","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1520,"wires":[["2fb7c030.d471"]]},{"id":"1d854659.9c526a","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1220,"wires":[["136f4202.ce709e"]]},{"id":"6e461644.fb3a98","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1280,"wires":[["77467b0f.436d34"]]},{"id":"fb2fb911.de7228","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.65","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1340,"wires":[["835d73cf.65942"]]},{"id":"4f1c75b5.9c045c","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1400,"wires":[["9317c6ce.865078"]]},{"id":"111c734b.4eaf4d","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1460,"wires":[["a4a2096a.2cc6c8"]]},{"id":"b02ea258.e236a","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"eight\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1580,"wires":[["f42639de.c73b88"]]},{"id":"f42639de.c73b88","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"0.85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":1580,"wires":[["fdeba2ed.fe70c"]]},{"id":"991d79f7.6f7638","type":"function","z":"330b49ee.fd5076","name":"","func":"var temp = msg.payload;\nvar buf = [];\n\nmsg.payload = \"t1.txt=\\\"\"+temp+\"\\\"\";\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1330,"y":520,"wires":[[]]},{"id":"e1a89661.b7c388","type":"function","z":"330b49ee.fd5076","name":"text ändern","func":"var temp = msg.payload;\nvar buf = [];\n\nmsg.payload = \"t3.txt=\\\"\"+temp+\"\\\"\";\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1930,"y":1640,"wires":[["6673c141.a2263"]]},{"id":"d5d181ae.1c7b5","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"temp1\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1640,"wires":[["3115e59c.75905a"]]},{"id":"b63a3c6e.dba69","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"temp2\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1700,"wires":[["11b06fee.54e1"]]},{"id":"3122daf8.0628e6","type":"function","z":"330b49ee.fd5076","name":"text ändern","func":"var temp = msg.payload;\nvar buf = [];\n\nmsg.payload = \"t1.txt=\\\"\"+temp+\"\\\"\";\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1930,"y":1560,"wires":[["6673c141.a2263"]]},{"id":"3115e59c.75905a","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":1640,"wires":[["3122daf8.0628e6"]]},{"id":"11b06fee.54e1","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":1700,"wires":[["e1a89661.b7c388"]]},{"id":"ff2b1038.84606","type":"debug","z":"330b49ee.fd5076","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":940,"wires":[]},{"id":"86805174.a8fa1","type":"trigger","z":"330b49ee.fd5076","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":840,"y":1380,"wires":[["e34c1ef2.6108b","d2826a35.ac7cd8","6b808150.4d0f7","5c3ba7cb.15e4a8","eaa4778.fbbe888","ee948db2.70cd6","602e0300.c1459c","b02ea258.e236a","d5d181ae.1c7b5","b63a3c6e.dba69","4d2b68f.ea27198","b3e87112.bdf8c","8ec2a974.76f018"]]},{"id":"4d2b68f.ea27198","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1320,"wires":[["88e3b118.aeb54"]]},{"id":"b96e559a.8f5748","type":"function","z":"330b49ee.fd5076","name":"heizung an","func":"if(msg.payload[1]==5 && msg.payload[0]==101 && msg.payload[2]==5) \n{\n global.set(\"webasto\",true);\n}   \n","outputs":1,"noerr":0,"x":410,"y":1260,"wires":[[]]},{"id":"88e3b118.aeb54","type":"function","z":"330b49ee.fd5076","name":"heizung aus","func":" global.set(\"webasto\",false);","outputs":1,"noerr":0,"x":410,"y":1320,"wires":[[]]},{"id":"56b9eb91.2e9ff4","type":"function","z":"330b49ee.fd5076","name":"text ändern","func":"var text  = msg.payload;\nvar buf = [];\n\nmsg.payload = \"t10.txt=\\\"\"+text+\"\\\"\";\nvar str = msg.payload;\n\nfor (var i=0, l = str.length; i < l; i++) {\n var ascii =str.charCodeAt(i);\n buf.push(ascii);\n }\n \n buf.push(255);\n  buf.push(255);\n   buf.push(255);\n \n msg.payload = new Buffer(buf)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1930,"y":1780,"wires":[["6673c141.a2263"]]},{"id":"b3e87112.bdf8c","type":"function","z":"330b49ee.fd5076","name":"status holen","func":"var check = flow.get(\"webastostatus\");\n\n\n\nmsg.payload = check;  \nreturn msg;\n   \n    \n","outputs":1,"noerr":0,"x":1150,"y":1780,"wires":[["56b9eb91.2e9ff4"]]},{"id":"98ba76df.21b048","type":"delay","z":"330b49ee.fd5076","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1500,"wires":[["86805174.a8fa1"]]},{"id":"8ec2a974.76f018","type":"function","z":"330b49ee.fd5076","name":"","func":"msg.reset = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1500,"wires":[["98ba76df.21b048"]]},{"id":"d9229161.b8548","type":"ui_group","z":"","name":"Schalter","tab":"c77f413b.09f91","disp":true,"width":"6","collapse":false},{"id":"a612e83f.c22ad8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"80","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"577bbbad.624d64","type":"ui_group","z":"","name":"Wasser","tab":"c77f413b.09f91","order":2,"disp":true,"width":"6","collapse":false},{"id":"c77f413b.09f91","type":"ui_tab","z":"","name":"Schalter und Wasser","icon":"dashboard","disabled":false,"hidden":false}]