Webasto-Flow.json
[{"id":"bbf94cda.c0d4f","type":"function","z":"209b2b99.d3cc24","name":"abfrage 50-05 sensoren1","func":"const buf = Buffer.from([\n 0xF4,\n 0x03,\n 0x50,\n 0x05,\n 0xA2\n]);\n\nmsg.payload = buf;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":980,"wires":[["c936560a.c7f638"]]},{"id":"7787eaba.d33134","type":"serial in","z":"209b2b99.d3cc24","name":"com verbindung usb webasto","serial":"560e01a5.002f8","x":140,"y":220,"wires":[["d3cc0211.18b39"]]},{"id":"c936560a.c7f638","type":"serial out","z":"209b2b99.d3cc24","name":"","serial":"560e01a5.002f8","x":1225.5557250976562,"y":859.5552978515625,"wires":[]},{"id":"1085955d.58676b","type":"ui_button","z":"209b2b99.d3cc24","name":"","group":"78a4e897.e7a268","order":0,"width":0,"height":0,"passthru":true,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[\"0xf4\",\"0x03\",\"0x21\",\"0x3b\",\"0xed\"] ","payloadType":"bin","topic":"","x":63.50007629394531,"y":662.999755859375,"wires":[["1a7a7e98.f51401","907365c1.11c388","578dd3c7.aedeac","5e5821fd.0e8c1"]]},{"id":"4f0a5f2e.24d6e","type":"ui_button","z":"209b2b99.d3cc24","name":"","group":"78a4e897.e7a268","order":1,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[\"f4\",\"02\",\"10\",\"E6\"]","payloadType":"bin","topic":"","x":101.28555297851562,"y":838.0046997070312,"wires":[["c06568dc.90a888"]]},{"id":"ca9d812a.5a2b9","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":7,"width":"5","height":"5","gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"105","colors":["#0004e6","#00d62e","#ca3838"],"seg1":"20","seg2":"85","x":1267.388916015625,"y":216.11083984375,"wires":[]},{"id":"3b55877e.48e178","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":8,"width":"5","height":"5","gtype":"gage","title":"Glühstift","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1258.0252685546875,"y":260.5653381347656,"wires":[]},{"id":"f7b79e0d.0809c","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":9,"width":"5","height":"5","gtype":"gage","title":"Brennluftgebläse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1285.1161942915483,"y":301.8381070223721,"wires":[]},{"id":"9ecf38a4.bbbff8","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":10,"width":"5","height":"5","gtype":"gage","title":"Dieselpumpe","label":"Hertz","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1266.0252852006388,"y":353.656288840554,"wires":[]},{"id":"542ded9.6f56f14","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":13,"width":"5","height":"5","gtype":"gage","title":"Umwälzpumpe","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1278.4747314453125,"y":417.8104248046875,"wires":[]},{"id":"67dcd5f9.3b1fac","type":"ui_gauge","z":"209b2b99.d3cc24","name":"","group":"d2c3df97.cf732","order":6,"width":"5","height":"5","gtype":"gage","title":"Spannung","label":"Volt","format":"{{value}}","min":"5","max":"15","colors":["#f3ff0f","#00b80c","#ca3838"],"seg1":"9","seg2":"13","x":1273.01513671875,"y":164.40380096435547,"wires":[]},{"id":"95960fee.7ad52","type":"function","z":"209b2b99.d3cc24","name":"temp","func":"msg.payload = msg.payload.temp-50;\n\nreturn msg;","outputs":1,"noerr":0,"x":874.2500610351562,"y":183.66643524169922,"wires":[["ca9d812a.5a2b9"]]},{"id":"baa9ec92.0bf51","type":"function","z":"209b2b99.d3cc24","name":"spannung","func":"msg.payload = msg.payload.volts/1000;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":883.1111450195312,"y":135.44420623779297,"wires":[["67dcd5f9.3b1fac"]]},{"id":"5e0bc0e3.0a5c9","type":"function","z":"209b2b99.d3cc24","name":"spannung","func":"var buffer = Buffer.alloc(2);\n\n\nbuffer[0] = msg.payload[10];\nbuffer[1] = msg.payload[11];\nvalue = buffer.readInt16BE(0)\nvalue = value/1000;\n\nmsg.payload = value; \nreturn msg;","outputs":1,"noerr":0,"x":1179.3333740234375,"y":1048.1109008789062,"wires":[[]]},{"id":"85b190c2.a1ec5","type":"function","z":"209b2b99.d3cc24","name":"temp","func":"msg.payload = msg.payload[8] - 50;\n\nreturn msg;","outputs":1,"noerr":0,"x":1319.7779541015625,"y":1045.3331298828125,"wires":[[]]},{"id":"d3cc0211.18b39","type":"switch","z":"209b2b99.d3cc24","name":"","property":"payload[5]","propertyType":"msg","rules":[{"t":"eq","v":"79","vt":"num"},{"t":"neq","v":"79","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":280,"wires":[["d920da80.3125d8"],[]],"info":"schauen ob es von der Heizung kommt\nf4 -> 79"},{"id":"1a7a7e98.f51401","type":"function","z":"209b2b99.d3cc24","name":"standheizen 1h","func":"const buf = Buffer.from([\n 0xF4,\n 0x03,\n 0x21,\n 0x3b,\n 0xed\n]);\n\nmsg.payload = buf;\n\nreturn msg;","outputs":1,"noerr":0,"x":878.5000610351562,"y":653.4441528320312,"wires":[["c936560a.c7f638"]]},{"id":"e2bbba56.388848","type":"function","z":"209b2b99.d3cc24","name":"stop befehl","func":"const buf = Buffer.from([\n 0xF4,\n 0x02,\n 0x10,\n 0xe6\n]);\n\nmsg.payload = buf;\n\nreturn msg;","outputs":1,"noerr":0,"x":874.9447021484375,"y":844.55517578125,"wires":[["c936560a.c7f638","578dd3c7.aedeac"]]},{"id":"7b9e0f07.43d11","type":"function","z":"209b2b99.d3cc24","name":"abfrage 50-07 status","func":"const buf = Buffer.from([\n 0xF4,\n 0x03,\n 0x50,\n 0x07,\n 0xa0\n]);\n\nmsg.payload = buf;\n\nreturn msg;","outputs":1,"noerr":0,"x":923.388916015625,"y":918.6664428710938,"wires":[["c936560a.c7f638"]]},{"id":"d920da80.3125d8","type":"switch","z":"209b2b99.d3cc24","name":"","property":"payload[8]","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":426.16668701171875,"y":291.999755859375,"wires":[["2ada18ed.5f7ae8"],["24e3d0d.1a0223"],["ecbab09c.1bae3"]],"info":"schauen um welche werte es sich \nhandelt: \n\nalles kommt aus der anfrage 50 \ndh. das dritte byte muss sein 50\n\n\n05 sensoren\n1 byte temp(-50)\n2 byte volt in mili\n1 byte flammendetektor\n2 byte heating power\n2 glühkerze wiederstand mili ohm\n\n15: sensoren 2\n\n     byte0: Glow plug power in percent *2\n\n     byte1: Fuel pump pulse frequency in Hz *2\n\n     byte2: Combustion air fan in percent*2\n\n     byte3:\n\n     byte4: Circulation pump percent*2\n\n\n\n07 status\n\nsiehe unten \n\n\n\n#define QUERY_STATE\t0x07\n\n#define\t\tOP_STATE\t0\n\n#define\t\tOP_STATE_N\t1\n\n#define\t\tDEV_STATE\t2\n\n\n\n/* 3 more unknown bytes */\n\n#define WB_STATE_BO\t0x00 /* Burn out */\n\n#define\tWB_STATE_DEACT1\t0x01 /* Deactivation */\n\n#define\tWB_STATE_BOADR\t0x02 /* Burn out ADR (has something to due with hazardous substances transportation) */\n\n#define\tWB_STATE_BORAMP\t0x03 /* Burn out Ramp */\n\n#define\tWB_STATE_OFF\t0x04 /* Off state */\n\n#define\tWB_STATE_CPL\t0x05 /* Combustion process part load */\n\n#define\tWB_STATE_CFL\t0x06 /* Combustion process full load */\n\n#define\tWB_STATE_FS\t0x07 /* Fuel supply */\n\n#define\tWB_STATE_CAFS\t0x08 /* Combustion air fan start */\n\n#define\tWB_STATE_FSI\t0x09 /* Fuel supply interruption */\n\n#define\tWB_STATE_DIAG\t0x0a /* Diagnostic state */\n\n#define\tWB_STATE_FPI\t0x0b /* Fuel pump interruption */\n\n#define\tWB_STATE_EMF\t0x0c /* EMF measurement */\n\n#define\tWB_STATE_DEB\t0x0d /* Debounce */\n\n#define\tWB_STATE_DEACTE\t0x0e /* Deactivation */\n\n#define\tWB_STATE_FDI\t0x0f /* Flame detector interrogation */\n\n#define\tWB_STATE_FDC\t0x10 /* Flame detector cooling */\n\n#define\tWB_STATE_FDM\t0x11 /* Flame detector measuring phase */\n\n#define\tWB_STATE_FDMZ\t0x12 /* Flame detector measuring phase ZUE */\n\n#define\tWB_STATE_FAN\t0x13 /* Fan start up */\n\n#define\tWB_STATE_GPRAMP\t0x14 /* Glow plug ramp */\n\n#define\tWB_STATE_LOCK\t0x15 /* Heater interlock */\n\n#define\tWB_STATE_INIT\t0x16 /* Initialization   */\n\n#define\tWB_STATE_BUBLE\t0x17 /* Fuel bubble compensation */\n\n#define\tWB_STATE_FANC\t0x18 /* Fan cold start-up */\n\n#define\tWB_STATE_COLDR\t0x19 /* Cold start enrichment */\n\n#define\tWB_STATE_COOL\t0x1a /* Cooling */\n\n#define\tWB_STATE_LCHGUP\t0x1b /* Load change PL-FL */\n\n#define\tWB_STATE_VENT\t0x1c /* Ventilation */\n\n#define\tWB_STATE_LCHGDN\t0x1d /* Load change FL-PL */\n\n#define\tWB_STATE_NINIT\t0x1e /* New initialization */\n\n#define\tWB_STATE_CTRL\t0x1f /* Controlled operation */\n\n#define\tWB_STATE_CIDDLE\t0x20 /* Control iddle period */\n\n#define\tWB_STATE_SSTART\t0x21 /* Soft start */\n\n#define\tWB_STATE_STIME\t0x22 /* Savety time */\n\n#define\tWB_STATE_PURGE\t0x23 /* Purge */\n\n#define\tWB_STATE_START\t0x24 /* Start */\n\n#define\tWB_STATE_STAB\t0x25 /* Stabilization */\n\n#define\tWB_STATE_SRAMP\t0x26 /* Start ramp    */\n\n#define\tWB_STATE_OOP\t0x27 /* Out of power  */\n\n#define\tWB_STATE_LOCK2\t0x28 /* Interlock     */\n\n#define WB_STATE_LOCKADR\t0x29 /* Interlock ADR (Australian design rules) */\n\n#define\tWB_STATE_STABT\t0x2a /* Stabilization time */\n\n#define\tWB_STATE_CHGCTRL\t0x2b /* Change to controlled operation */\n\n#define\tWB_STATE_DECIS\t0x2c /* Decision state */\n\n#define\tWB_STATE_PSFS\t0x2d /* Prestart fuel supply */\n\n#define\tWB_STATE_GLOW\t0x2e /* Glowing */\n\n#define\tWB_STATE_GLOWP\t0x2f /* Glowing power control */\n\n#define\tWB_STATE_DELAY\t0x30 /* Delay lowering */\n\n#define\tWB_STATE_SLUG\t0x31 /* Sluggish fan start */\n\n#define\tWB_STATE_AGLOW\t0x32 /* Additional glowing */\n\n#define\tWB_STATE_IGNI\t0x33 /* Ignition interruption */\n\n#define\tWB_STATE_IGN\t0x34 /* Ignition */\n\n#define\tWB_STATE_IGNII\t0x35 /* Intermittent glowing */\n\n#define\tWB_STATE_APMON\t0x36 /* Application monitoring */\n\n#define\tWB_STATE_LOCKS\t0x37 /* Interlock save to memory */\n\n#define\tWB_STATE_LOCKD\t0x38 /* Heater interlock deactivation */\n\n#define\tWB_STATE_OUTCTL\t0x39 /* Output control */\n\n#define\tWB_STATE_CPCTL\t0x3a /* Circulating pump control */\n\n#define\tWB_STATE_INITUC\t0x3b /* Initialization uP */\n\n#define\tWB_STATE_SLINT\t0x3c /* Stray light interrogation */\n\n#define\tWB_STATE_PRES\t0x3d /* Prestart */\n\n#define\tWB_STATE_PREIGN\t0x3e /* Pre-ignition */\n\n#define\tWB_STATE_FIGN\t0x3f /* Flame ignition */\n\n#define\tWB_STATE_FSTAB\t0x40 /* Flame stabilization */\n\n#define\tWB_STATE_PH\t0x41 /* Combustion process parking heating */\n\n#define\tWB_STATE_SH\t0x42 /* Combustion process suppl. heating  */\n\n#define\tWB_STATE_PHFAIL\t0x43 /* Combustion failure failure heating */\n\n#define\tWB_STATE_SHFAIL\t0x44 /* Combustion failure suppl. heating  */\n\n#define\tWB_STATE_OFFR\t0x45 /* Heater off after run */\n\n#define\tWB_STATE_CID\t0x46 /* Control iddle after run */\n\n#define\tWB_STATE_ARFAIL\t0x47 /* After-run due to failure */\n\n#define\tWB_STATE_ARTCTL\t0x48 /* Time-controlled after-run due to failure */\n\n#define\tWB_STATE_LOCKCP\t0x49 /* Interlock circulation pump */\n\n#define\tWB_STATE_CIDPH\t0x4a /* Control iddle after parking heating */\n\n#define\tWB_STATE_CIDSH\t0x4b /* Control iddle after suppl. heating  */\n\n#define\tWB_STATE_CIDHCP\t0x4c /* Control iddle period suppl. heating with circulation pump */\n\n#define\tWB_STATE_CPNOH\t0x4d /* Circulation pump without heating function */\n\n#define\tWB_STATE_OV\t0x4e /* Waiting loop overvoltage */\n\n#define\tWB_STATE_MFAULT\t0x4f /* Fault memory update */\n\n#define\tWB_STATE_WLOOP\t0x50 /* Waiting loop */\n\n#define\tWB_STATE_CTEST\t0x51 /* Component test */\n\n#define\tWB_STATE_BOOST\t0x52 /* Boost */\n\n#define\tWB_STATE_COOL2\t0x53 /* Cooling */\n\n#define\tWB_STATE_LOCKP\t0x54 /* Heater interlock permanent */\n\n#define\tWB_STATE_FANIDL\t0x55 /* Fan iddle */\n\n#define\tWB_STATE_BA\t0x56 /* Break away */\n\n#define\tWB_STATE_TINT\t0x57 /* Temperature interrogation */\n\n#define\tWB_STATE_PREUV\t0x58 /* Prestart undervoltage */\n\n#define\tWB_STATE_AINT\t0x59 /* Accident interrogation */\n\n#define\tWB_STATE_ARSV\t0x5a /* After-run solenoid valve */\n\n#define\tWB_STATE_MFLTSV\t0x5b /* Fault memory update solenoid valve */\n\n#define\tWB_STATE_TCARSV\t0x5c /* Timer-controlled after-run solenoid valve */\n\n#define\tWB_STATE_SA\t0x5d /* Startup attempt */\n\n#define\tWB_STATE_PREEXT\t0x5e /* Prestart extension */\n\n#define\tWB_STATE_COMBP\t0x5f /* Combustion process */\n\n#define\tWB_STATE_TIARUV\t0x60 /* Timer-controlled after-run due to undervoltage */\n\n#define\tWB_STATE_MFLTSW\t0x61 /* Fault memory update prior switch off */\n\n#define\tWB_STATE_RAMPFL\t0x62 /* Ramp full load */\n"},{"id":"ecbab09c.1bae3","type":"function","z":"209b2b99.d3cc24","name":"","func":"msg.payload = msg.payload[9];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":520,"wires":[["c330e68.3283c18"]]},{"id":"9c4f4b54.0e2828","type":"ui_text","z":"209b2b99.d3cc24","group":"beee2029.53963","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":520,"wires":[]},{"id":"a3e301a6.89a16","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670.2780151367188,"y":918.2218627929688,"wires":[["7b9e0f07.43d11"]]},{"id":"c330e68.3283c18","type":"change","z":"209b2b99.d3cc24","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"4","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"46","fromt":"num","to":"glowing","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"7","fromt":"num","to":"fuelpump","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"burn out","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"26","fromt":"num","to":"cooling down","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"12","fromt":"num","to":"Fan cold start-up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":520,"wires":[["9c4f4b54.0e2828","2d31684a.a8f538"]],"info":"\r\n      0x00 Burn out\r\n      0x01 Deactivation\r\n      0x02 Burn out ADR (has something to due with hazardous substances transpotation)\r\n      0x03 Burn out Ramp\r\n      0x04 Off state\r\n      0x05 Combustion process part load\r\n      0x06 Combustion process full load\r\n      0x07 Fuel supply\r\n      0x08 Combustion air fan start\r\n      0x09 Fuel supply interruption\r\n      0x0a Diagnostic state\r\n      0x0b Fuel pump interruption\r\n      0x0c EMF measurement\r\n      0x0d Debounce\r\n      0x0e Deactivation\r\n      0x0f Flame detector interrogation\r\n      0x10 Flame detector cooling\r\n      0x11 Flame detector measuring phase\r\n      0x12 Flame detector measuring phase ZUE\r\n      0x13 Fan start up\r\n      0x14 Glow plug ramp\r\n      0x15 Heater interlock\r\n      0x16 Initialization\r\n      0x17 Fuel bubble compensation\r\n      0x18 Fan cold start-up\r\n      0x19 Cold start enrichment\r\n      0x1a Cooling\r\n      0x1b Load change PL-FL\r\n      0x1c Ventilation\r\n      0x1d Load change FL-PL\r\n      0x1e New initialization\r\n      0x1f Controlled operation\r\n      0x20 Control iddle period\r\n      0x21 Soft start\r\n      0x22 Savety time\r\n      0x23 Purge\r\n      0x24 Start\r\n      0x25 Stabilization\r\n      0x26 Start ramp\r\n      0x27 Out of power\r\n      0x28 Interlock\r\n      0x29 Interlock ADR (Australian design rules)\r\n      0x2a Stabilization time\r\n      0x2b Change to controlled operation\r\n      0x2c Decision state\r\n      0x2d Prestart fuel supply\r\n      0x2e Glowing\r\n      0x2f Glowing power control\r\n      0x30 Delay lowering\r\n      0x31 Sluggish fan start\r\n      0x32 Additional glowing\r\n      0x33 Ignition interruption\r\n      0x34 Ignition\r\n      0x35 Intermittent glowing\r\n      0x36 Application monitoring\r\n      0x37 Interlock save to memory\r\n      0x38 Heater interlock deactivation\r\n      0x39 Output control\r\n      0x3a Circulating pump control\r\n      0x3b Initialization uP\r\n      0x3c Stray light interrogation\r\n      0x3d Prestart\r\n      0x3e Pre-ignition\r\n      0x3f Flame ignition\r\n      0x40 Flame stabilization\r\n      0x41 Combustion process parking heating\r\n      0x42 Combustion process suppl. heating\r\n      0x43 Combustion failure failure heating\r\n      0x44 Combustion failure suppl. heating\r\n      0x45 Heater off after run\r\n      0x46 Control iddle after run\r\n      0x47 After-run due to failure\r\n      0x48 Time-controlled after-run due to failure\r\n      0x49 Interlock circulation pump\r\n      0x4a Control iddle after parking heating\r\n      0x4b Control iddle after suppl. heating\r\n      0x4c Control iddle period suppl. heating with circulation pump\r\n      0x4d Circulation pump without heating function\r\n      0x4e Waiting loop overvoltage\r\n      0x4f Fault memory update\r\n      0x50 Waiting loop\r\n      0x51 Component test\r\n      0x52 Boost\r\n      0x53 Cooling\r\n      0x54 Heater interlock permanent\r\n      0x55 Fan iddle\r\n      0x56 Break away\r\n      0x57 Temperature interrogation\r\n      0x58 Prestart undervoltage\r\n      0x59 Accident interrogation\r\n      0x5a After-run solenoid valve\r\n      0x5b Fault memory update solenoid valve\r\n      0x5c Timer-controlled after-run solenoid valve\r\n      0x5d Startup attempt\r\n      0x5e Prestart extension\r\n      0x5f Combustion process\r\n      0x60 Timer-controlled after-run due to undervoltage\r\n      0x61 Fault memory update prior switch off\r\n      0x62 Ramp full load"},{"id":"91ecc852.d1d098","type":"function","z":"209b2b99.d3cc24","name":"error abfrage","func":"const buf = Buffer.from([\n 0xF4,\n 0x03,\n 0x56,\n 0x01,\n 0xa0\n]);\n\nmsg.payload = buf;\n\nreturn msg;","outputs":1,"noerr":0,"x":870.6112670898438,"y":711.221923828125,"wires":[["c936560a.c7f638"]]},{"id":"907365c1.11c388","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":636.9447021484375,"y":706.4441528320312,"wires":[["91ecc852.d1d098"]]},{"id":"247dda4c.a07086","type":"function","z":"209b2b99.d3cc24","name":"keep alive befehl 21","func":"const buf = Buffer.from([\n 0xF4,\n 0x04,\n 0x44,\n 0x21,\n 0x00,\n 0x95\n]);\n\nmsg.payload = buf;\n\nreturn msg;","outputs":1,"noerr":0,"x":909.166748046875,"y":785.4443969726562,"wires":[["c936560a.c7f638"]]},{"id":"578dd3c7.aedeac","type":"trigger","z":"209b2b99.d3cc24","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"","bytopic":"all","name":"keep alive","x":641.1668701171875,"y":776.3329467773438,"wires":[["247dda4c.a07086","a039473c.b701d8","5a959aca.a50084"]]},{"id":"e0455327.8a813","type":"comment","z":"209b2b99.d3cc24","name":"Empfang von Heizung","info":"","x":103.05560302734375,"y":147.99978637695312,"wires":[]},{"id":"1b956b59.9fcb55","type":"comment","z":"209b2b99.d3cc24","name":"Senden an Heizung","info":"","x":130,"y":480,"wires":[]},{"id":"356a5f9e.3ec9b","type":"function","z":"209b2b99.d3cc24","name":"glow","func":"msg.payload = msg.payload.glow/2;\n\nreturn msg;","outputs":1,"noerr":0,"x":946.944580078125,"y":315.1109313964844,"wires":[["3b55877e.48e178"]]},{"id":"d84defed.8d4ac","type":"function","z":"209b2b99.d3cc24","name":"fan","func":"msg.payload = msg.payload.fan/2;\n\nreturn msg;","outputs":1,"noerr":0,"x":944.27783203125,"y":361.11090087890625,"wires":[["f7b79e0d.0809c"]]},{"id":"ee371806.338688","type":"function","z":"209b2b99.d3cc24","name":"waterpump","func":"msg.payload = msg.payload.waterpump/2;\n\nreturn msg;","outputs":1,"noerr":0,"x":967.27783203125,"y":406.2220153808594,"wires":[["542ded9.6f56f14"]]},{"id":"33e5660c.0b305a","type":"function","z":"209b2b99.d3cc24","name":"fuelpump","func":"msg.payload = msg.payload.fuelpumpfreq/2;\n\nreturn msg;","outputs":1,"noerr":0,"x":955.166748046875,"y":270.11090087890625,"wires":[["9ecf38a4.bbbff8"]]},{"id":"ce46d227.5b3ec","type":"function","z":"209b2b99.d3cc24","name":"abfrage 50-15 sensoren2","func":"const buf = Buffer.from([\n 0xF4,\n 0x03,\n 0x50,\n 0x0f,\n 0xa8\n]);\n\nmsg.payload = buf;\n\nreturn msg;\n\n//    f4 03 50 0f a8                                    ô.P.¨            \n","outputs":1,"noerr":0,"x":935.2777099609375,"y":1046.8888549804688,"wires":[["c936560a.c7f638"]]},{"id":"600b6b3b.f13874","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":621.9445190429688,"y":1047.9998168945312,"wires":[["ce46d227.5b3ec"]]},{"id":"c06568dc.90a888","type":"function","z":"209b2b99.d3cc24","name":"keep alive stoppen","func":"msg.reset = true; \n\nreturn msg;","outputs":1,"noerr":0,"x":404.27777099609375,"y":840.6665649414062,"wires":[["e2bbba56.388848","578dd3c7.aedeac"]]},{"id":"5e5821fd.0e8c1","type":"trigger","z":"209b2b99.d3cc24","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","bytopic":"all","name":"status abfrage","x":313.33343505859375,"y":962.1664428710938,"wires":[["a622c033.9ab7b"]]},{"id":"c1313cbe.5743e","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":400,"wires":[[]]},{"id":"a041cc7e.b0fba","type":"inject","z":"209b2b99.d3cc24","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.8333740234375,"y":971.1109008789062,"wires":[["5e5821fd.0e8c1","e517683f.9279a8"]]},{"id":"9e5309fe.a94048","type":"ui_button","z":"209b2b99.d3cc24","name":"","group":"78a4e897.e7a268","order":1,"width":0,"height":0,"passthru":false,"label":"read start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":88.8333740234375,"y":922.1109008789062,"wires":[["5e5821fd.0e8c1","e517683f.9279a8"]]},{"id":"a039473c.b701d8","type":"change","z":"209b2b99.d3cc24","name":"","rules":[{"t":"set","p":"block","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1377.83349609375,"y":688.3609619140625,"wires":[[]]},{"id":"5a959aca.a50084","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1168.3333740234375,"y":737.8609008789062,"wires":[["e517683f.9279a8"]]},{"id":"e517683f.9279a8","type":"change","z":"209b2b99.d3cc24","name":"","rules":[{"t":"set","p":"block","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1405.8333740234375,"y":796.6109008789062,"wires":[[]]},{"id":"a622c033.9ab7b","type":"switch","z":"209b2b99.d3cc24","name":"","property":"block","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":495.8333740234375,"y":961.6109008789062,"wires":[["a3e301a6.89a16","bbf94cda.c0d4f","600b6b3b.f13874"]]},{"id":"ab205bd0.808478","type":"comment","z":"209b2b99.d3cc24","name":"Abfragen sperren","info":"","x":1293.3333740234375,"y":631.6109008789062,"wires":[]},{"id":"a08afb5b.704128","type":"comment","z":"209b2b99.d3cc24","name":"nextion","info":"","x":74.8333740234375,"y":1203.1109008789062,"wires":[]},{"id":"f20553f3.6de7b","type":"serial in","z":"209b2b99.d3cc24","name":"","serial":"850eb5d2.c1e9e8","x":112.8333740234375,"y":1329.110900878906,"wires":[["ae9a4ff8.7d02"]]},{"id":"ae9a4ff8.7d02","type":"debug","z":"209b2b99.d3cc24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":1340,"wires":[]},{"id":"2ada18ed.5f7ae8","type":"binary","z":"209b2b99.d3cc24","name":"test","property":"payload","pattern":"x8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nb8 => temp,\nb16 => volts,\nx8,\nx8,\nx8\n\n","x":588.6112060546875,"y":166.7775650024414,"wires":[["95960fee.7ad52","baa9ec92.0bf51"]]},{"id":"24e3d0d.1a0223","type":"binary","z":"209b2b99.d3cc24","name":"test","property":"payload","pattern":"x8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nx8,\nb8 => glow,\nb8 => fuelpumpfreq,\nb8 => fan,\nb8,\nb8 => waterpump,\nx8\n\n\n","x":624.166748046875,"y":321.3331298828125,"wires":[["356a5f9e.3ec9b","d84defed.8d4ac","ee371806.338688","33e5660c.0b305a"]]},{"id":"a2ad8327.dbfba","type":"function","z":"209b2b99.d3cc24","name":"","func":"var check = global.get(\"webasto\");\n\nif (check === true)\n{\nmsg.payload = check;\nreturn msg\n\n}\n\n","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["b3e0b3f9.eaa48","57b3aa13.ce18c4"]]},{"id":"2d31684a.a8f538","type":"function","z":"209b2b99.d3cc24","name":"","func":"\n","outputs":1,"noerr":0,"x":1550,"y":600,"wires":[[]]},{"id":"fd62daba.067b28","type":"inject","z":"209b2b99.d3cc24","name":"","topic":"","payload":"26","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":600,"wires":[["c330e68.3283c18"]]},{"id":"b3e0b3f9.eaa48","type":"debug","z":"209b2b99.d3cc24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":560,"wires":[]},{"id":"f3f1030f.ff0e2","type":"inject","z":"209b2b99.d3cc24","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":50,"y":560,"wires":[["a2ad8327.dbfba"]]},{"id":"57b3aa13.ce18c4","type":"delay","z":"209b2b99.d3cc24","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":620,"wires":[["1085955d.58676b"]]},{"id":"560e01a5.002f8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"2400","databits":"8","parity":"even","stopbits":"1","waitfor":"","newline":"50","bin":"bin","out":"interbyte","addchar":"","responsetimeout":"10000"},{"id":"78a4e897.e7a268","type":"ui_group","z":"","name":"Button","tab":"429aa80.8e1af58","order":1,"disp":true,"width":"2","collapse":false},{"id":"d2c3df97.cf732","type":"ui_group","z":"","name":"Gauge","tab":"429aa80.8e1af58","order":2,"disp":true,"width":"15","collapse":false},{"id":"beee2029.53963","type":"ui_group","z":"","name":"Status","tab":"429aa80.8e1af58","order":4,"disp":true,"width":"4","collapse":false},{"id":"850eb5d2.c1e9e8","type":"serial-port","z":"","serialport":"COM2","serialbaud":"10400","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"429aa80.8e1af58","type":"ui_tab","z":"","name":"Webasto Heizung","icon":"dashboard","order":3,"disabled":false,"hidden":false}]